.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    /* z-index: 1; */
    /* top: 0; */
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.styleNav {
    height: 100%;
    width: 160px;
    position: fixed;
    /* z-index: 1; */
    /* top: 0; */
    left: 200px;
    background-color: #F5F5DC;
    overflow-x: hidden;
    padding-top: 20px;

}

.styleNav ul{
    list-style-type: square;
    padding: 6px 8px 6px 16px;
    background-color: #DEB887;

}

.styleNav li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.styleNav li:hover {
    color: #111111;
    background-color: #818181;
}

.mainContainer {
    padding-left: 220px;
}
